.topbar{
    width: 100%;
    height: 50px;
    background-color: #E799A3;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: green;
    cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}


.topiconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: red;
}

.topIconBadge {
    width: 15px;
    height: 15px;
    position: relative;
    top: -9px;
    right: 5px;
    background-color: brown;
    color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 500px){

    .topbar{
        flex-direction: column;
        right: 0;
        width: 133%;
        position: sticky;
    }
        .topbarWrapper {
            height: 100%;
            padding: 0px 0px;
            display: none;
            align-items: center;
            justify-content: space-between;
        }
        .topRight {
            display: none;
        }
   
}




