.Widgetsmall{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px#000000;
        box-shadow: 0px 0px 40px -10px #000000;
        padding: 20px;
        margin: 20px;
}
.WidgetsmallTitle{
    font-size: 22px;
    font-weight: 600;
}

.WidgetsmallImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.WidgetsmallList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.WidgetSmallListItem{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 20px 0px ;
}
.WidgetsmallUser{
    display: flex;
    flex-direction: column;
}
.WidgetsmallUsername{
    font-weight: 600;
}
.WidgetsmallUserTitle{
    font-weight: 300;

}
.WidgetsmallButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: azure;
    color: black;
    cursor: pointer
}
.Widgetsmallcon{
    font-size: 16px;
    margin: 5px;
}

@media screen and (max-width:500) {
    .Widgetsmall{
        flex: 1;
            -webkit-box-shadow: 0px 0px 5px -10px#000000;
            box-shadow: 0px 0px 20px -10px #000000;
            padding: 5px;
            margin: 5px;

    }
        .WidgetsmallButton {
            display: flex;
            align-items: center;
            border: none;
            border-radius: 2px;
            padding: 1px 3px;
            background-color: azure;
            color: black;
            cursor: pointer
        }
        .WidgetsmallUsername {
                    font-weight: 200;
                }
        .WidgetSmallListItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0px;
         }
        .WidgetsmallUserTitle {
            font-weight: 100;
            color: blue;
        }
}